<footer class="footer">
	<div class="container">
		<div class="footer__inner">
			<div class="footer__box-list">
				<div class="footer__box">
					<h5 class="title-5 footer__title-5">Компания</h5>

					<ul class="footer__list">
						<li class="footer__item">
							<a class="footer__link" href="#">Вакансии</a>
						</li>

						<li class="footer__item">
							<a class="footer__link" href="#">Договор</a>
						</li>

						<li class="footer__item">
							<a class="footer__link" href="#">Правила использования</a>
						</li>

						<li class="footer__item">
							<a class="footer__link" href="#">Политика конфиденциальности</a>
						</li>

						<li class="footer__item">
							<a class="footer__link" href="#">Календарь событий</a>
						</li>
					</ul>
				</div>

				<div class="footer__box">
					<h5 class="title-5 footer__title-5">Продукт</h5>

					<ul class="footer__list">
						<li class="footer__item">
							<a class="footer__link" href="#">Функционал</a>
						</li>

						<li class="footer__item">
							<a class="footer__link" href="#">Тарифы</a>
						</li>

						<li class="footer__item">
							<a class="footer__link" href="#">Попробовать демо</a>
						</li>

						<li class="footer__item">
							<a class="footer__link" href="#">Список обновлений</a>
						</li>

						<li class="footer__item">
							<a class="footer__link" href="#">База знаний</a>
						</li>
					</ul>
				</div>

				<div class="footer__box">
					<h5 class="title-5 footer__title-5">Ресурсы</h5>

					<ul class="footer__list">
						<li class="footer__item">
							<a class="footer__link" href="#">Журнал</a>
						</li>

						<li class="footer__item">
							<a class="footer__link" href="#">Спецпроекты</a>
						</li>

						<li class="footer__item">
							<a class="footer__link" href="#">Аудит обучения</a>
						</li>

						<li class="footer__item">
							<a class="footer__link" href="#">Библиотека курсов</a>
						</li>
					</ul>
				</div>

				<div class="footer__box">
					<h5 class="title-5 footer__title-5">Поддержка</h5>

					<ul class="footer__list">
						<li class="footer__item">
							<div class="footer__item-inner">
								<img class="footer__icon" src="./img/icon/phone.svg" alt="phone">

								<a class="footer__link" href="tel:+79452357832">+7 (945) 235-78-32</a>
							</div>
						</li>

						<li class="footer__item">
							<div class="footer__item-inner">
								<img class="footer__icon" src="./img/icon/mail.svg" alt="email">

								<a class="footer__link" href="mailto:helpme@totc.ru">helpme@totc.ru</a>
							</div>
						</li>

						<li class="footer__item">
							<p class="footer__text">Работаем круглосуточно</p>
						</li>
					</ul>
				</div>


				<div class="footer__box footer__box--big">
					<h5 class="title-5 footer__title-5">Контакты</h5>

					<ul class="footer__list">
						<li class="footer__item">
							<div class="footer__item-inner">
								<img class="footer__icon" src="./img/icon/marker.svg" alt="marker">

								<p class="footer__text">ООО «Цифровая Школа» 114321, Москва, ул. Садовая, д. 77, офис 65</p>
							</div>
						</li>

						<li class="footer__item">
							<div class="footer__item-inner">
								<img class="footer__icon" src="./img/icon/mail.svg" alt="email">

								<a class="footer__link" href="mailto:infome@totc.ru">infome@totc.ru</a>
							</div>
						</li>

						<li class="footer__item">
							<div class="footer__item-inner">
								<img class="footer__icon" src="./img/icon/phone.svg" alt="phone">

								<a class="footer__link" href="tel:+74955432345">+7 (495) 543-23-45</a>
							</div>
						</li>

						<li class="footer__item">
							<p class="footer__text">Работаем круглосуточно</p>
						</li>
					</ul>
				</div>
			</div>

			<div class="footer__socials-box">
				<div class="footer__box-inner">
					<a class="brand-link brand-link--small footer__brand-link" href="#">
						<picture>
							<source srcset="./img/apple.webp" type="image/webp">
							<img class="brand-link__img" src="./img/apple.png" alt="apple">
						</picture>

						<div class="brand-link__text-wrapper">
							<p class="brand-link__text">Загрузите в</p>
							<p class="brand-link__name">App Store</p>
						</div>
					</a>

					<a class="brand-link brand-link--small footer__brand-link" href="#">
						<picture>
							<source srcset="./img/google.webp" type="image/webp">
							<img class="brand-link__img" src="./img/google.png" alt="google">
						</picture>

						<div class="brand-link__text-wrapper">
							<p class="brand-link__text">Доступно в</p>
							<p class="brand-link__name">Google Play</p>
						</div>
					</a>

					<div class="footer__socials">
						<a class="footer__socials-link" href="#">
							<svg class="footer__socials-svg" width="40" height="30" viewBox="0 0 40 30" fill="none"
								xmlns="http://www.w3.org/2000/svg">
								<path
									d="M36.7527 0.340967L1.31463 12.5808C-0.111463 13.1508 -0.593806 14.2923 0.969943 14.9118L10.0613 17.4995L32.0432 5.33177C33.2434 4.5679 34.4722 4.77159 33.4148 5.6119L14.5354 20.9224L13.9424 27.4017C14.4917 28.4021 15.4974 28.4068 16.139 27.9095L21.3623 23.4829L30.308 29.4827C32.3857 30.5844 33.5163 29.8734 33.9633 27.8541L39.8309 2.96937C40.4401 0.483814 39.4012 -0.611346 36.7527 0.340967Z" />
							</svg>
						</a>

						<a class="footer__socials-link" href="#">
							<svg class="footer__socials-svg" width="46" height="30" viewBox="0 0 46 30" fill="none"
								xmlns="http://www.w3.org/2000/svg">
								<path
									d="M18.4 21.4286L30.337 15L18.4 8.57143V21.4286ZM44.988 4.65C45.287 5.65714 45.494 7.00714 45.632 8.72143C45.793 10.4357 45.862 11.9143 45.862 13.2L46 15C46 19.6929 45.632 23.1429 44.988 25.35C44.413 27.2786 43.079 28.5214 41.009 29.0571C39.928 29.3357 37.95 29.5286 34.914 29.6571C31.924 29.8071 29.187 29.8714 26.657 29.8714L23 30C13.363 30 7.36 29.6571 4.991 29.0571C2.921 28.5214 1.587 27.2786 1.012 25.35C0.713 24.3429 0.506 22.9929 0.368 21.2786C0.207 19.5643 0.138 18.0857 0.138 16.8L0 15C0 10.3071 0.368 6.85714 1.012 4.65C1.587 2.72143 2.921 1.47857 4.991 0.942857C6.072 0.664286 8.05 0.471428 11.086 0.342857C14.076 0.192857 16.813 0.128571 19.343 0.128571L23 0C32.637 0 38.64 0.342857 41.009 0.942857C43.079 1.47857 44.413 2.72143 44.988 4.65Z" />
							</svg>
						</a>
					</div>

					<form class="footer__form" action="#">
						<input class="footer__input" type="email" placeholder="Введите E-mail">

						<button class="footer__send" type="submit">Подписка на рассылку</button>
					</form>
				</div>
			</div>
		</div>
	</div>
</footer>