.explain {
	margin-bottom: var(--margin-block);
	padding: 100px 0;

	position: relative;

	background: center / cover no-repeat url(../img/about/banner.jpg);
	border-bottom-left-radius: 960px 120px;
	border-bottom-right-radius: 960px 120px;

	&__inner {
		margin: 0 auto;
		max-width: 670px;

		text-align: center;
	}

	&__title-1,
	&__text {
		@extend %appear;
		@extend %text-shadow;

		color: white;
	}

	&__title-1 {
		strong {
			color: inherit;
		}
	}

	&__text {
		margin-bottom: var(--margin-el);
	}

	&__btn {
		@extend %btn-main-solid;
		@extend %appear;

		margin: 0 auto;

		text-align: center;
		color: white;

		&.hidden {
			transform: scale(0);
		}
	}

	&__breadcrumbs {
		position: absolute;
		top: 0;

		.breadcrumbs__link {
			color: white;
		}

		.breadcrumbs__link[href] {
			&:hover {
				color: var(--color-title-accent);
			}
		}

		.breadcrumbs__link-svg {
			path {
				fill: white;
			}

			&:hover {
				path {
					fill: var(--color-title-accent);
				}
			}
		}
	}
}

.services {
	--shift-gap: 30px;

	padding-top: var(--margin-section);
	margin-bottom: var(--margin-block);

	&__title-2 {
		margin-bottom: 60px;

		text-align: center;
	}

	&__inner {
		display: flex;
		justify-content: center;
		gap: var(--shift-gap);
	}

	&__list {
		display: flex;
		flex-direction: column;
		gap: var(--shift-gap);
	}

	&__item {
		@extend %appear;
		@extend %box-appear;

		padding: 30px;
		width: 100%;
		max-width: 470px;

		border: 2px solid var(--color-text-special);
		border-radius: 25px;

		&:hover {
			border-color: var(--color-text-special--hover);
			box-shadow: 0 0 10px var(--color-shadow);
		}
	}

	&__item-box {
		display: flex;
		align-items: center;
		gap: 20px;

		margin-bottom: 20px;
	}

	&__item-svg {
		min-width: 40px;

		path {
			fill: var(--color-text-special);
		}
	}

	&__title-4 {
		@extend %trans;

		margin-bottom: 0;

		font-weight: 600;
		line-height: 1.3;
		color: var(--color-text-special);
	}

	&__item-link {
		@extend %trans;
		@extend %link-arrow;
	}
}

.support {
	padding-top: var(--margin-section);
	margin-bottom: var(--margin-block);

	overflow: hidden;

	&__inner {
		display: flex;
		gap: var(--margin-el);
		justify-content: space-between;
		align-items: center;
	}

	&__img {
		@extend %appear;

		min-width: 400px;
		object-fit: contain;
		width: 100%;

		&.hidden {
			opacity: 0;
			transform: translateX(-50%);
		}
	}

	&__box {
		margin: 0 auto;
		width: 100%;
		max-width: 730px;
	}

	&__title-2 {
		margin-right: auto;
		margin-left: auto;
		max-width: 560px;

		text-align: center;
	}

	&__form {
		display: flex;
		flex-direction: column;
		gap: 30px;

		margin-right: auto;
		margin-left: auto;
		max-width: 640px;
	}

	&__textarea {
		min-height: 160px;
		resize: none;
	}

	&__warning {
		@extend %appear;
		@extend %text-appear;

		text-align: center;
		font-size: 0.75rem;
		color: var(--color-placeholder);
	}

	&__send {
		@extend %btn-main-solid;

		margin: 0 auto;
	}
}

.contacts {
	padding-top: var(--margin-section);
	margin-bottom: var(--margin-block);

	overflow: hidden;

	&__inner {
		display: flex;
		align-items: center;
		flex-direction: row-reverse;
		gap: var(--margin-el);
	}

	&__content {
		width: 100%;
		max-width: 500px;
	}

	&__title-2 {
		text-align: center;
	}

	&__item {
		@extend %appear;
		@extend %box-appear;

		display: flex;
		align-items: center;
		gap: 12px;

		padding-bottom: 15px;
		margin-bottom: 15px;

		position: relative;

		&::after {
			content: "";
			width: 100%;
			height: 1px;

			position: absolute;
			left: 0;
			bottom: 0;

			background-color: var(--color-border);
		}
	}

	&__item-svg {
		min-width: 30px;
		width: 30px;

		path {
			fill: var(--color-text-special);
		}
	}

	&__link {
		@extend %trans;

		color: var(--color-text-special);

		&:hover {
			color: var(--color-text-special--hover);
		}
	}

	&__map {
		@extend %appear;

		width: 100%;
		height: 550px;

		border-radius: 10px;

		&.hidden {
			opacity: 0;
			transform: translateX(50%);
		}
	}
}

.socials {
	&__text {
		margin-bottom: 15px;

		strong {
			font-weight: 400;
			color: var(--color-title-accent);
		}
	}

	&__list {
		display: flex;
		gap: 20px;
	}

	&__item {
		@extend %appear;
		@extend %btn-appear;
	}

	&__item-svg {
		path {
			@extend %trans;

			fill: var(--color-text-special);
		}

		&:hover path {
			fill: var(--color-text-special--hover);
		}
	}
}

/* MEDIA
**************************************/

@include media("1400px") {
	.contacts__content {
		max-width: 440px;
	}
}

@include lg {
	.services__item {
		padding: 20px;
	}

	.services {
		--shift-gap: 20px;
	}

	.services__item-box {
		gap: 12px;
	}

	.contacts__content {
		max-width: none;
	}

	.support__form {
		gap: 20px;
	}
}

@include media("900px") {
	.contacts__inner {
		flex-direction: column-reverse;
	}

	.support__img {
		display: none;
	}

	.support__inner {
		gap: 0;
	}
}

@include md {
	.services__title-2 {
		margin-bottom: 40px;
	}

	.services__inner {
		flex-direction: column;
	}

	.services__item {
		max-width: none;
		padding: 0;
		border: none;

		&:hover {
			box-shadow: none;
		}

		.services__item-box {
			margin-bottom: 12px;
		}

		.services__item-link {
			margin-top: 12px;
		}
	}

	.services {
		--shift-gap: 30px;
	}
}

@include media("640px") {
	.explain {
		padding: 40px 0;

		background: var(--color-header-bg) !important;

		&__breadcrumbs {
			.breadcrumbs__link {
				color: var(--color-header-text);
			}

			.breadcrumbs__link[href] {
				&:hover {
					color: var(--color-title-accent);
				}
			}

			.breadcrumbs__link-svg {
				path {
					fill: var(--color-header-text);
				}
			}

			.breadcrumbs__link-svg:hover path {
				fill: var(--color-text-accent);
			}

			.breadcrumbs__item:not(:last-child)::after {
				background: none;
				background-color: var(--color-header-text);
				mask-image: url(../img/icon/breadcrumbs-arrow.svg);
			}
		}
	}

	.explain__inner {
		margin-top: 40px;
	}

	.explain__title-1,
	.explain__text {
		color: var(--color-header-text);
		text-align: left;
		text-shadow: none;
	}

	.explain__title-1 strong {
		color: var(--color-text-accent);
	}

	.darkmode .explain__title-1 strong {
		color: inherit;
	}

	.explain__btn {
		padding: 14px;
		max-width: 220px;

		color: var(--color-bg);

		border: 2px solid var(--color-bg);

		&:hover {
			color: var(--color-header-bg);

			background-color: var(--color-bg);
		}
	}
}
