.seller {
	margin-bottom: var(--margin-section);

	color: var(--color-header-text);

	overflow: hidden;

	background-color: var(--color-header-bg);
	border-bottom-left-radius: 960px 120px;
	border-bottom-right-radius: 960px 120px;

	&__inner {
		min-height: calc(100vh - 80px);

		display: flex;
		gap: var(--margin-el);

		position: relative;
	}

	&__content {
		width: 100%;
	}

	&__content-inner {
		position: relative;
		z-index: 10;
		top: 50%;
		transform: translateY(-50%);
	}

	&__title-1 {
		padding-top: 40px;
		max-width: 700px;

		strong {
			color: var(--color-text-accent);
		}
	}

	&__text {
		max-width: 540px;
		margin-bottom: 50px;

		@extend %appear;

		&.hidden {
			@extend %box-appear;
		}
	}

	&__btn-box {
		display: flex;
		align-items: center;
		gap: var(--margin-el);
		padding-bottom: 140px;
	}

	&__request-btn {
		padding: 24px 40px;
		font-weight: 600;

		color: var(--color-header-text);

		background-color: var(--color-seller-btn-bg);
		border-radius: 40px;

		@extend %appear;

		&.hidden {
			opacity: 0;
			transform: translateY(50px);
		}

		&:hover {
			background-color: var(--color-seller-btn-bg--hover);
		}

		&:active {
			transition: all 0.3s ease;
			transform: scale(0.9);
		}
	}

	&__play-text {
		padding-left: 30px;

		position: absolute;
		right: -290px;
		top: 50%;
		transform: translateY(-50%);

		color: var(--color-header-text);
		letter-spacing: 2px;
		white-space: nowrap;

		opacity: 0;
		pointer-events: none;
		transition: all 1s ease;

		&::after {
			content: "";
			width: 22px;
			height: 15px;

			position: absolute;
			left: 0;
			top: 13px;

			background: var(--color-header-text);
			mask-image: url(../img/icon/arrow.svg);

			transition: all 1s ease;
		}
	}

	&__box {
		width: 100%;
		padding-top: 20px;

		position: relative;
	}

	&__img {
		max-width: none;
		height: 100%;
		object-fit: cover;

		position: absolute;
		left: 45%;
		transform: translateX(-50%);
		opacity: 1;

		@extend %appear;

		filter: drop-shadow(0 0 5px var(--color-seller-decor-shadow));

		&.hidden {
			transform: translateX(0);
			opacity: 0;
		}
	}

	&__message-wrapper {
		@extend %appear;

		position: absolute;

		&.hidden {
			opacity: 0;
			transform: scale(0);
		}

		&:nth-of-type(1) {
			left: 0;
			top: 30%;
			.seller__message {
				animation: decor-move-left 4s ease 0s infinite;
			}
		}

		&:nth-of-type(2) {
			left: 30px;
			top: 80%;
			.seller__message {
				animation: decor-move-left 4s ease 0s infinite;
			}
		}

		&:nth-of-type(3) {
			right: 20px;
			top: 55%;
			.seller__message {
				animation: decor-move-right 4s ease 0s infinite;
			}
		}
	}

	&__message {
		@extend %trans;

		display: flex;
		align-items: center;
		gap: 20px;

		padding: 10px 20px;

		background-color: var(--color-seller-box-bg);
		border-radius: 20px;
		box-shadow: 0 0 5px var(--color-seller-decor-shadow);

		&:hover {
			box-shadow: 0 0 15px var(--color-seller-decor-shadow);
		}
	}

	&__message-svg {
		.changeable {
			fill: var(--color-header-text);
		}
	}

	&__message-box {
		pointer-events: none;
	}

	&__message-title {
		font: bold 20px/1.5 $font-secondary;
		color: var(--color-seller-box-title);
	}

	&__message-text {
		font: 16px/1.5 $font-secondary;
		font-weight: 600;
		color: var(--color-seller-box-text);
	}

	&__message-img {
		max-width: 63px;
	}

	&__message-btn {
		padding: 12px 20px;

		font: 14px/1.5 $font-secondary;
		font-weight: 600;
		color: var(--color-primary);

		background-color: #d8587e;
		border-radius: 30px;
	}

	&__decor-wrapper {
		position: absolute;
		right: 10%;
		top: 20%;

		@extend %appear;

		&.hidden {
			opacity: 0;
			transform: scale(0);
		}
	}

	&__decor {
		@extend %trans;

		filter: drop-shadow(0 0 5px var(--color-seller-decor-shadow));

		animation: decor-move-right 4s ease 0s infinite;

		&:hover {
			filter: drop-shadow(0 0 15px var(--color-seller-decor-shadow));
		}
	}

	&__shift-btn {
		position: absolute;
		bottom: 70px;
		left: 50%;
		transform: translateX(-50%);
		z-index: 10;

		animation: arrow-down-move 2.2s ease 1.9s infinite;

		svg {
			@extend %trans;

			fill: var(--color-header-text);
			fill-opacity: 0.5;
		}

		&:hover svg {
			fill-opacity: 0.7;
		}

		@extend %appear;

		&.hidden {
			opacity: 0;
		}
	}
}

.about {
	padding: 80px 0 var(--margin-section);

	overflow: hidden;

	&__box {
		display: flex;
		align-items: center;
		gap: var(--margin-el);
		margin-bottom: var(--margin-block);
	}

	&__content {
		width: 100%;
	}

	&__title-2 {
		text-align: center;
	}

	&__text {
		margin-bottom: 50px;

		text-align: justify;
	}

	&__btn-main {
		@extend %btn-main;

		display: block;
		margin: 0 auto;
		
		text-align: center;
	}

	&__decor {
		display: flex;
		justify-content: center;
		width: 100%;
		max-width: 780px;

		&.hidden .about__img {
			transform: translateX(30%);
			opacity: 0;
		}
	}

	&__img {
		@extend %appear;
	}
}

.statistic {
	&__list {
		display: flex;
		justify-content: space-around;
		flex-wrap: wrap;
		gap: var(--margin-el);
	}

	&__item {
		@extend %appear;

		text-align: center;

		&--hidden {
			opacity: 0;
			transform: translateY(30%);
		}
	}

	&__num {
		display: inline-block;

		font-size: 3.75rem;
		line-height: 1;
		font-family: "RobotoMono", monospace;
		font-weight: 500;

		background: linear-gradient(90deg, #136cb5, #49bbbd);
		background-clip: text;
		-webkit-text-fill-color: transparent;
	}

	&__text {
		font-size: 1.2rem;
		color: var(--color-artical-text);
	}
}

.side-nav {
	position: fixed;
	right: 13px;
	top: 50%;
	transform: translateY(-50%);
	z-index: 51;

	&__list {
		display: flex;
		flex-direction: column;
		gap: 30px;
	}

	&__item {
		position: relative;
	}

	&__link {
		@extend %trans;

		display: block;
		width: 20px;
		height: 20px;

		border: 3px solid var(--color-header-bg);
		background-color: var(--color-header-text);
		border-radius: 12px;

		&:hover + .side-nav__tooltip,
		&:focus + .side-nav__tooltip {
			right: 40px;
			opacity: 1;
		}

		&:hover {
			box-shadow: 0 1px 8px var(--color-shadow);
		}

		&--active {
			background-color: var(--color-header-bg);
		}
	}

	&__tooltip {
		padding: 6px 12px;

		position: absolute;
		right: 60px;
		top: 50%;
		transform: translateY(-50%);

		color: var(--color-header-text);
		font-size: 18px;
		font-weight: 600;
		white-space: nowrap;

		background-color: var(--color-artical-text);
		border-radius: 5px;
		opacity: 0;

		pointer-events: none;
		transition: all 0.5s ease;

		&::after {
			content: "";
			width: 16px;
			height: 16px;

			position: absolute;
			right: -18px;
			top: 50%;
			transform: translateY(-50%);
			z-index: 0;

			border: 10px solid white;
			border-color: transparent transparent transparent var(--color-artical-text);
		}
	}
}

.sale {
	position: fixed;
	bottom: 80px;
	right: -100%;
	z-index: 10;

	opacity: 0;

	transition: opacity 0.6s ease, right 0.8s ease;

	&--visible {
		opacity: 1;
		right: 60px;
	}

	&__box {
		display: flex;
		align-items: center;
		gap: 30px;

		padding: 5px 50px 5px 30px;

		background: var(--color-grad);
		border-radius: 20px;
	}

	&__img {
		max-width: 84px;

		transform: scale(0.9);

		animation: present-move 3s ease-out 2s infinite;
	}

	&__text {
		font-size: 30px;
		font-weight: 600;
		line-height: 130%;
		color: var(--color-sale-text);
	}

	&__text + &__text {
		padding-left: 65px;
	}

	&__close-btn {
		@extend %trans;

		position: absolute;
		right: 12px;
		top: 6px;
		z-index: 100;

		&:hover {
			transform: scale(1.2);
		}
	}

	&__close-svg {
		path {
			fill: var(--color-sale-text);
		}
	}
}

.clients {
	padding-top: 80px;
	margin-bottom: var(--margin-section);

	&__inner {
		display: flex;
		align-items: center;
		gap: var(--margin-el);
	}

	&__content {
		width: 100%;
	}

	&__title-2 {
		display: flex;
		justify-content: center;
		gap: 20px;

		strong {
			font-size: 3rem;
		}

		span {
			font-size: 1.5rem;
			max-width: 265px;
		}
	}

	&__text {
		text-align: justify;
	}
}

.brand-slider {
	@extend %appear;

	width: 100%;

	pointer-events: none;

	&__item-inner {
		max-height: 120px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: var(--margin-el);
	}

	&.hidden {
		opacity: 0;
		transform: translateX(-30%);
	}
}

.features {
	overflow: hidden;

	padding: 80px 0 var(--margin-section);

	&__title-2 {
		text-align: center;
	}

	&__content {
		display: flex;
		align-items: center;
		gap: var(--margin-el);

		text-align: justify;

		&:not(:last-child) {
			margin-bottom: var(--margin-block);
		}

		&:last-child {
			margin-bottom: 60px;
		}

		&:nth-of-type(odd) {
			.features__img-wrapper.hidden .features__img {
				transform: translateX(-30%);
				opacity: 0;
			}
		}

		&:nth-of-type(even) {
			.features__img-wrapper.hidden .features__img {
				transform: translateX(30%);
				opacity: 0;
			}
		}
	}

	&__img-wrapper {
		width: 100%;
	}

	&__img {
		width: 100%;

		@extend %appear;
	}

	&__box {
		width: 100%;

		&--w600 {
			max-width: 600px;
		}
	}

	&__title-3 {
		text-align: center;
	}

	&__list {
		display: flex;
		flex-direction: column;
		gap: var(--margin-el);
	}

	&__item {
		display: flex;
		align-items: center;
		gap: 30px;
	}

	&__decor {
		min-width: 60px;
		height: 60px;

		display: flex;
		align-items: center;
		justify-content: center;

		background-color: var(--color-bg);
		box-shadow: 0 5px 15px var(--color-shadow);
		border-radius: 30px;

		@extend %appear;

		&.hidden {
			transform: scale(0);
		}
	}

	&__links {
		display: flex;
		justify-content: center;
		gap: var(--margin-el);

		margin-top: var(--margin-el);
	}

	&__question {
		text-align: center;

		&--link {
			@extend %trans;

			color: var(--color-title);

			&:hover {
				color: var(--color-title-accent);
			}
		}
	}
}

.feedback {
	padding-top: 80px;
	margin-bottom: calc(var(--margin-section) + 100px);

	&__inner {
		display: flex;
		align-items: center;
		gap: var(--margin-el);
	}

	&__content {
		width: 100%;
	}

	&__title-2 {
		text-align: center;
	}

	&__text {
		text-align: justify;

		strong {
			font-weight: 400;
			color: var(--color-title-accent);
		}

		em {
			font-weight: 600;
			font-style: normal;
		}

		&--link {
			@extend %trans;

			color: var(--color-title);

			&:hover {
				color: var(--color-title-accent);
			}
		}
	}

	&__text + &__text {
		margin-top: var(--margin-el);
	}

	&__box {
		width: 100%;

		position: relative;
	}

	&__photo-wrapper {
		min-height: 700px;
		max-width: 640px;

		position: relative;
	}

	&__photo-list {
		height: 100%;

		@extend %appear;

		&.hidden {
			transform: scale(0.8);
			opacity: 0;
		}
	}

	&__photo-item {
		transition: all 1.5s ease;

		position: absolute;
		top: 0;

		padding: 0 35px;

		opacity: 0;

		&--active {
			opacity: 1;
		}
	}

	&__photo {
		min-height: 700px;

		border-radius: 20px;
		object-fit: cover;
	}

	&__prev,
	&__next {
		@extend %appear;

		display: flex;
		align-items: center;
		justify-content: center;

		width: 70px;
		height: 70px;

		position: absolute;
		top: 50%;
		transform: translateY(-50%);

		background-color: var(--color-bg);
		border-radius: 40px;
		box-shadow: 0 5px 15px var(--color-shadow);

		&.hidden {
			transform: translateY(-50%) scale(0);
		}
	}

	&__prev {
		left: 0;

		&:hover {
			transform: translateY(-50%) scale(1.2);

			.feedback__prev-img {
				transform: rotate(-180deg) scale(1.4);
			}
		}
	}

	&__next {
		right: 0;

		&:hover {
			transform: translateY(-50%) scale(1.2);

			.feedback__next-img {
				transform: scale(1.4);
			}
		}
	}

	&__prev-img {
		@extend %trans;
		transform-origin: center;

		transform: rotate(-180deg);
	}

	&__next-img {
		@extend %trans;
		transform-origin: center;
	}

	&__comment {
		@extend %trans;

		padding: 40px;
		padding-left: 60px;
		max-width: 90%;

		position: absolute;
		right: 0;
		bottom: 0;
		transform: translateY(40%);

		font-family: $font-secondary;

		background-color: var(--color-bg);
		border-radius: 20px;
		box-shadow: 2px 4px 15px var(--color-shadow);
		opacity: 0;

		&--active {
			opacity: 1;
		}

		&::before {
			content: "";
			width: 20px;
			height: 100%;

			position: absolute;
			left: 0;
			top: 0;

			background-color: #f67766;
			border-radius: 20px 0 0 20px;
		}
	}

	&__comment-list {
		@extend %appear;

		&.hidden {
			opacity: 0;
			transform: translateY(50px);
		}
	}

	&__comment-text {
		margin-bottom: 30px;

		font-size: 0.875rem;
		line-height: 150%;
		text-align: justify;

		position: relative;

		&::after {
			content: "";
			width: 1px;
			height: 100%;

			position: absolute;
			left: -20px;
			top: 0;

			background-color: #bdbdd1;
		}
	}

	&__comment-box {
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
	}

	&__author-name {
		font-weight: 600;
		color: var(--color-title-accent);
	}

	&__author-job {
		font-size: 0.75rem;
	}

	&__stars {
		margin-top: 8px;
		max-width: 137px;
	}
}

.blog-preview {
	padding-top: 80px;
	margin-bottom: var(--margin-section);

	&__title-2 {
		text-align: center;
	}

	&__inner {
		display: flex;
		align-items: flex-start;
		column-gap: var(--margin-el);
		row-gap: 40px;

		margin-bottom: 60px;
		padding-top: 30px;
	}

	&__artical-big {
		width: 100%;
	}

	&__artical-img-wrapper {
		width: 100%;
		max-height: 200px;
		max-width: 290px;

		object-fit: cover;

		position: relative;
	}

	&__artical-img {
		width: 100%;

		@extend %appear;

		&.hidden {
			opacity: 0;
			transform: scale(0.8);
		}
	}

	&__tag {
		@extend %appear;

		display: inline-block;
		margin: 30px 0;
		padding: 6px 24px;

		color: var(--color-bg);

		background-color: var(--color-btn-bg);
		border-radius: 40px;

		&:hover {
			background-color: var(--color-btn-bg--hover);
		}

		&.hidden {
			transform: scale(0);
		}
	}

	&__tag-img {
		@extend %appear;

		display: inline-block;
		padding: 4px 18px;
		margin: 0;

		position: absolute;
		bottom: 18px;
		right: 18px;

		font-size: 0.75rem;

		color: var(--color-bg);

		background-color: var(--color-btn-bg);
		border-radius: 40px;

		&:hover {
			background-color: var(--color-btn-bg--hover);
		}

		&.hidden {
			transform: scale(0);
		}
	}

	&__link {
		&:hover .blog-preview__title {
			color: var(--color-title-accent);
		}
	}

	&__title {
		@extend %trans;

		margin-bottom: 8px;

		font-size: 1.25rem;
		font-weight: 600;
		color: var(--color-artical-text);

		display: -webkit-box;

		overflow: hidden;

		text-overflow: ellipsis;
		-ms-text-overflow: ellipsis;
		-o-text-overflow: ellipsis;

		line-clamp: 2;
		-ms-line-clamp: 2;
		-webkit-line-clamp: 2;

		word-wrap: break-word;

		box-orient: vertical;
		-webkit-box-orient: vertical;

		&--small {
			font-size: 0.875rem;
		}

		@extend %appear;

		&.hidden {
			opacity: 0;
			transform: translateY(50px);
		}
	}

	&__text {
		display: -webkit-box;

		overflow: hidden;

		text-overflow: ellipsis;
		-ms-text-overflow: ellipsis;
		-o-text-overflow: ellipsis;

		line-clamp: 2;
		-ms-line-clamp: 2;
		-webkit-line-clamp: 2;

		word-wrap: break-word;

		box-orient: vertical;
		-webkit-box-orient: vertical;

		font-size: 0.875rem;
		color: var(--color-text);
		text-align: justify;

		&--small {
			font-size: 0.75rem;
		}

		@extend %appear;

		&.hidden {
			opacity: 0;
			transform: translateY(50px);
		}
	}

	&__articals {
		width: 100%;
	}

	&__artical {
		display: flex;
		align-items: flex-start;
		gap: 20px;

		&:not(:last-child) {
			margin-bottom: 30px;
		}
	}

	&__question {
		text-align: center;

		&--link {
			@extend %trans;

			color: var(--color-title);

			&:hover {
				color: var(--color-title-accent);
			}
		}
	}
}

.try {
	padding: 80px 0 var(--margin-section);

	overflow-x: hidden;

	&__inner {
		display: flex;
		align-items: center;
		gap: var(--margin-el);
	}

	&__content {
		width: 100%;
	}

	&__title-2 {
		text-align: center;
	}

	&__text {
		margin-bottom: var(--margin-el);

		text-align: justify;
	}

	&__btn {
		@extend %btn-main-solid;
		@extend %appear;

		margin: 0 auto;
		text-align: center;

		&.hidden {
			transform: scale(0);
		}
	}

	&__img-wrapper {
		width: 100%;

		&.hidden .try__img {
			opacity: 0;
			transform: translateX(30%);
		}
	}

	&__img {
		@extend %appear;
	}
}

/* MEDIA
**************************************/

@include media(1400px) {
	.seller__play-text {
		right: -275px;
	}

	.seller__play-btn:hover + .seller__play-text,
	.seller__play-btn:focus + .seller__play-text {
		right: -225px;
	}

	.feedback__photo,
	.feedback__photo-wrapper {
		min-height: 550px;
	}

	.feedback__inner {
		flex-direction: column;
	}

	.feedback__text--center {
		text-align: center;
	}

	.feedback__photo-wrapper {
		margin: 0 auto;
	}

	.feedback__comment {
		max-width: 100%;
	}
}

@include xl {
	.seller__message {
		&:nth-of-type(1) {
			top: 35%;
			left: 30px;
		}

		&:nth-of-type(2) {
			left: 60px;
		}
	}

	.seller__decor {
		right: 0;
	}

	.seller__play-text {
		display: none;
	}

	.features__item {
		gap: 15px;
	}

	.sale {
		bottom: 50px;
	}

	.sale__text {
		font-size: 1rem;
	}

	.sale__text + .sale__text {
		padding-left: 48px;
	}

	.sale__img {
		max-width: 65px;
	}

	.sale__box {
		padding: 5px 45px 5px 20px;
		gap: 20px;
	}
}

@include lg {
	.container--padding {
		max-width: 1530px;
		padding: 0 15px;
	}

	.seller__inner {
		min-height: auto;
	}

	.seller__message {
		padding: 10px;
		border-radius: 10px;
	}

	.seller__message-title {
		font-size: 18px;
	}

	.seller__message-text {
		font-size: 14px;
	}

	.seller__decor {
		display: none;
	}

	.seller__message-btn {
		padding: 8px 10px;
	}

	.about__box {
		flex-direction: column;
		gap: 50px;
	}

	.statistic__num {
		font-size: 3rem;
	}

	.side-nav {
		display: none;
	}

	.clients__inner {
		flex-direction: column-reverse;
		gap: 40px;
	}

	.features__content {
		flex-direction: column-reverse;

		&:nth-of-type(2) {
			flex-direction: column;
		}
	}

	.features__box--w600 {
		max-width: none;
	}

	.features__img {
		max-width: 750px;
		max-height: 500px;
		object-fit: contain;
		margin: 10px auto;
	}

	.try__inner {
		flex-direction: column;
	}

	.try__img {
		margin: 0 auto;
	}

	.blog-preview__tag-img {
		bottom: 12px;
		right: 12px;
	}
}

@include media(900px) {
	.seller__img {
		left: 60%;
	}

	.blog-preview__tag {
		margin: 20px 0;
	}
}

@include md {
	.seller__inner {
		min-height: calc(100vh - 80px);
	}

	.seller__box {
		display: none;
	}

	.seller__text {
		margin-bottom: 30px;
	}

	.statistic__item {
		width: 100%;
		max-width: 170px;
	}

	.statistic__text {
		font-size: 1rem;
	}

	.about__text {
		margin-bottom: 40px;
	}

	.sale {
		display: none;
	}

	.feedback__comment {
		padding: 20px;
		padding-left: 40px;
	}

	.feedback__comment-text::after {
		display: none;
	}

	.blog-preview__inner {
		flex-direction: column;
	}
}

@include media(600px) {
	.feedback__comment {
		max-width: 100%;
	}

	.feedback__prev,
	.feedback__next {
		top: 30%;
	}

	.feedback {
		margin-bottom: calc(var(--margin-section) + 150px);
	}
}

@include sm {
	.seller__request-btn {
		padding: 18px 22px;
	}

	.seller__play-btn {
		min-height: 60px;
		min-width: 60px;
	}

	.seller__title-1 {
		padding-top: 20px;
	}

	.about__text {
		margin-bottom: 30px;
	}

	.about__box {
		gap: 40px;
	}

	.clients__title-2 {
		flex-direction: column;
		gap: 0;
		text-align: center;

		strong {
			font-size: 2.5rem;
		}

		span {
			font-size: 1.5rem;
			max-width: none;
			text-align: center;
		}
	}

	.features__links {
		flex-direction: column;
		align-items: center;
	}

	.features__brand-link {
		max-width: 200px;
	}

	.feedback {
		margin-bottom: var(--margin-section);
	}

	.feedback__comment-list {
		min-height: 400px;
	}

	.feedback__comment {
		transform: none;
		padding: 15px;

		&::before {
			display: none;
		}
	}

	.feedback__photo {
		min-height: auto;
	}

	.feedback__photo-item {
		padding: 0;
	}

	.feedback__prev,
	.feedback__next {
		top: 50%;

		width: 50px;
		height: 50px;
		transform: translateY(-50%);
	}

	.feedback__photo-wrapper {
		min-height: 300px;
	}

	.feedback__stars {
		display: none;
	}

	.try__btn {
		max-width: 200px;
		padding: 16px 20px;
	}

	.blog-preview__title {
		font-size: 1rem;

		&--small {
			font-size: 0.875rem;
		}
	}

	.blog-preview__inner {
		margin-bottom: 30px;
	}
}

@include media(400px) {
	.statistic__list {
		justify-content: center;
	}

	.blog-preview__artical {
		flex-direction: column;
	}

	.blog-preview__artical-img {
		width: 100%;
	}

	.blog-preview__artical-img-wrapper {
		max-width: none;
		max-height: 180px;
		overflow: hidden;
	}

	.blog-preview__text {
		font-size: 0.75rem;
	}

	.blog-preview__title {
		font-size: 0.875rem;
	}

	.blog-preview__artical-big {
		display: flex;
		flex-direction: column;
		gap: 20px;
	}

	.blog-preview__artical-big-img-wrapper {
		position: relative;
	}

	.blog-preview__tag {
		display: inline-block;
		padding: 4px 18px;
		margin: 0;

		position: absolute;
		bottom: 12px;
		right: 12px;

		font-size: 0.75rem;
		color: var(--color-bg);

		background-color: var(--color-btn-bg);
		border-radius: 40px;
	}
}

@include media(360px) {
	.seller__btn-box {
		flex-direction: column;
	}
}
