:root {
	// COLORS LIGHTMODE
	--color-primary-rgb: 255, 255, 255;
	--color-primary: rgb(var(--color-primary-rgb));

	--color-secondary: #2f327d;
	--color-secondary-light-rgb: 85, 85, 109;
	--color-secondary-light: rgb(var(--color-secondary-light-rgb));
	--color-secondary-dark: #252641;

	--color-brand-rgb: 73, 187, 189;
	--color-brand: rgb(var(--color-brand-rgb));
	--color-brand-light: #00cbb8;
	--color-brand-dark: #3da1a3;

	--color-accent: #ffd600;

	--color-grey: #494949;

	--color-grad: linear-gradient(90deg, #136cb5, #49bbbd);

	// COLORS LIGHTMODE SEMANTIC
	--color-header-bg: var(--color-brand);
	--color-header-text: var(--color-primary);
	--color-header-logo: var(--color-primary);
	--color-header-btn--hover: var(--color-brand);
	--color-header-btn-line: rgba(var(--color-primary-rgb), 0.5);
	--color-header-menu-title: var(--color-secondary-dark);
	--color-header-menu-text: var(--color-secondary-light);
	--color-header-menu-border: rgba(var(--color-secondary-light-rgb), 0.3);
	--color-header-menu-bg: var(--color-primary);
	--color-header-submenu--hover: rgba(var(--color-brand-rgb), 0.12);

	--color-text: var(--color-secondary-light);
	--color-text-accent: var(--color-accent);
	--color-text-special: var(--color-secondary);
	--color-text-special--hover: var(--color-brand);
	--color-title: var(--color-secondary);
	--color-title-accent: var(--color-brand-light);

	--color-bg: var(--color-primary);

	--color-btn-bg: var(--color-brand);
	--color-btn-bg--hover: var(--color-brand-dark);
	--color-btn-text: var(--color-brand);
	--color-btn-text--hover: var(--color-primary);
	--color-btn-close: var(--color-secondary-light);
	--color-btn-box: rgba(var(--color-brand-rgb), 0.6);
	--color-btn-box--hover: rgba(var(--color-brand-rgb), 0.3);
	--color-btn-secondary-bg: var(--color-secondary);
	--color-btn-secondary-text: var(--color-primary);

	--color-sale-text: var(--color-primary);

	--color-artical-text: var(--color-secondary-dark);

	--color-seller-box-bg: rgba(var(--color-primary-rgb), 0.9);
	--color-seller-box-title: var(--color-grey);
	--color-seller-box-text: var(--color-secondary-light);
	--color-seller-btn-bg: rgba(var(--color-primary-rgb), 0.2);
	--color-seller-btn-bg--hover: rgba(var(--color-primary-rgb), 0.3);
	--color-seller-play-text--hover: var(--color-accent);
	--color-seller-decor-shadow: rgba(var(--color-primary-rgb), 0.5);

	--color-placeholder: rgba(var(--color-secondary-light-rgb), 0.6);
	--color-border: rgba(var(--color-secondary-light-rgb), 0.4);
	--color-table--hover: rgba(var(--color-brand-rgb), 0.15);

	--color-shadow: rgba(0, 0, 0, 0.25);

	--color-footer-bg: var(--color-grey);
	--color-footer-text: var(--color-primary);

	// VAR
	--margin-section: 100px;
	--margin-block: 100px;
	--margin-el: 40px;
}

.darkmode {
	// COLORS DARKMODE
	--color-primary-rgb--darkmode: 38, 44, 44;
	--color-primary--darkmode: rgb(var(--color-primary-rgb--darkmode));

	--color-secondary--darkmode: #e8e9fa;
	--color-secondary-light-rgb--darkmode: 232, 232, 236;
	--color-secondary-light--darkmode: rgb(var(--color-secondary-light-rgb--darkmode));

	--color-brand-rgb--darkmode: 62, 170, 172;
	--color-brand--darkmode: rgb(var(--color-brand-rgb--darkmode));
	--color-brand-dark--darkmode: rgb(65, 193, 196);

	--color-accent--darkmode: #221fd2;

	--color-grey--darkmode: #151a1a;

	// COLORS DARKMODE SEMANTIC
	--color-header-bg: var(--color-brand--darkmode);
	--color-header-text: var(--color-primary--darkmode);
	--color-header-logo: var(--color-primary--darkmode);
	--color-header-btn--hover: var(--color-brand--darkmode);
	--color-header-btn-line: rgba(var(--color-primary-rgb--darkmode), 0.5);
	--color-header-menu-title: var(--color-secondary-dark--darkmode);
	--color-header-menu-text: var(--color-secondary-light--darkmode);
	--color-header-menu-border: rgba(var(--color-secondary-light-rgb--darkmode), 0.3);
	--color-header-menu-bg: var(--color-primary--darkmode);

	--color-text: var(--color-secondary-light--darkmode);
	--color-text-accent: var(--color-primary--darkmode);
	--color-text-special: var(--color-secondary--darkmode);
	--color-text-special--hover: var(--color-brand--darkmode);
	--color-title: var(--color-secondary--darkmode);

	--color-bg: var(--color-primary--darkmode);

	--color-btn-bg: var(--color-brand--darkmode);
	--color-btn-bg--hover: var(--color-brand-dark--darkmode);
	--color-btn-text: var(--color-brand--darkmode);
	--color-btn-text--hover: var(--color-primary--darkmode);
	--color-btn-close: var(--color-secondary-light--darkmode);
	--color-btn-box: rgba(var(--color-brand-rgb--darkmode), 0.6);
	--color-btn-box--hover: rgba(var(--color-brand-rgb--darkmode), 0.3);
	--color-btn-secondary-bg: var(--color-secondary--darkmode);
	--color-btn-secondary-text: var(--color-primary--darkmode);

	--color-sale-text: var(--color-primary--darkmode);

	--color-artical-text: var(--color-secondary--darkmode);

	--color-seller-box-bg: rgba(var(--color-primary-rgb--darkmode), 0.9);
	--color-seller-box-title: var(--color-secondary--darkmode);
	--color-seller-box-text: var(--color-secondary-light--darkmode);
	--color-seller-btn-bg: rgba(var(--color-primary-rgb--darkmode), 0.16);
	--color-seller-btn-bg--hover: rgba(var(--color-primary-rgb--darkmode), 0.25);
	--color-seller-play-text--hover: var(--color-accent--darkmode);
	--color-seller-decor-shadow: rgba(var(--color-primary-rgb--darkmode), 0.5);

	--color-placeholder: rgba(var(--color-secondary-light-rgb--darkmode), 0.6);
	--color-border: rgba(var(--color-secondary-light-rgb--darkmode), 0.4);
	--color-table--hover: rgba(var(--color-brand-rgb--darkmode), 0.15);

	--color-shadow: rgba(255, 255, 255, 0.3);

	--color-footer-bg: var(--color-grey--darkmode);
}

html {
	font-size: 24px;
}

body {
	min-height: 100%;
	min-width: 300px;
	overflow-x: hidden;

	font: 1rem/1.6 $font-primary;
	color: var(--color-text);

	display: flex;
	flex-direction: column;

	background-color: var(--color-bg);
}

main {
	flex-grow: 1;
}

.container {
	max-width: 1530px;
	padding: 0 15px;
	margin: 0 auto;

	&--w1000 {
		max-width: 1030px;
	}

	&--w1400 {
		max-width: 1430px;
	}

	&--padding {
		max-width: 1565px;
		padding: 0 50px 0 15px;
	}
}

.title-1 {
	margin-bottom: var(--margin-el);

	font: 2.5rem/1.3 $font-primary;
	font-weight: 600;

	@extend %appear;

	&.hidden {
		opacity: 0;
		transform: translateY(100px);
	}

	strong {
		@extend %trans;

		color: var(--color-title-accent);
	}
}

.title-2 {
	margin-bottom: var(--margin-el);

	font: 2rem/1.3 $font-primary;
	font-weight: 600;
	color: var(--color-title);

	strong {
		color: var(--color-title-accent);
	}

	@extend %appear;

	&.hidden {
		opacity: 0;
		transform: translateY(50px);
	}
}

.title-3 {
	margin-bottom: var(--margin-el);

	font: 1.5rem/1.5 $font-primary;
	font-weight: 600;
	color: var(--color-title);

	strong {
		color: var(--color-title-accent);
	}

	@extend %appear;

	&.hidden {
		opacity: 0;
		transform: translateY(50px);
	}
}

.title-4 {
	margin-bottom: var(--margin-el);

	font: 1.25rem/1.6 $font-primary;
	font-weight: 500;
}

.title-5 {
	font: 1rem/1.6 $font-primary;
	font-weight: 600;
}

.text {
	@extend %appear;

	&.hidden {
		opacity: 0;
		transform: translateY(30%);
	}
}

.pinned {
	overflow: hidden;
}

.header-padding {
	padding-top: 80px;
}

.darkmode .brand-link:hover {
	box-shadow: 0 0 10px var(--color-shadow);

	&::after {
		display: none;
	}
}

.brand-link {
	@extend %appear;

	display: flex;
	align-items: center;
	min-height: 59px;
	padding: 6px 16px;
	gap: 10px;

	position: relative;

	color: white;

	background-color: black;
	border-radius: 16px;

	&.hidden {
		opacity: 0;
		transform: scale(0);
	}

	&:hover {
		&:after {
			content: "";
			width: 0px;
			height: 100%;

			position: absolute;

			top: 0;
			transform: rotate(-30deg);
			opacity: 0;

			background-color: white;
			box-shadow: 0 0 25px 5px white;

			animation: hover-shadow 1.5s ease-out 0s;
		}
	}

	&__text {
		font-size: 0.75rem;
		line-height: 150%;

		white-space: nowrap;
	}

	&__name {
		font-weight: 600;
		line-height: 120%;

		white-space: nowrap;
	}

	&--small {
		min-width: 200px;

		&:hover {
			box-shadow: 0 0 10px var(--color-shadow);
		}

		&::after {
			display: none;
		}

		.brand-link__text {
			font-size: 0.625rem;
		}

		.brand-link__name {
			font-size: 0.875rem;
		}
	}
}

.video-play {
	position: relative;

	@extend %appear;

	&.hidden {
		opacity: 0;
		transform: translateY(50px);
	}

	&__btn {
		@extend %trans;

		display: flex;
		align-items: center;
		justify-content: center;

		min-height: 80px;
		min-width: 80px;

		background-color: var(--color-header-text);
		border-radius: 40px;

		&:hover .video-play__svg,
		&:focus .video-play__svg {
			transform: scale(1.3);
		}

		&:hover + .seller__play-text,
		&:focus + .seller__play-text {
			opacity: 1;
			right: -240px;

			letter-spacing: 0;
		}

		&:active {
			transform: scale(0.9);
		}
	}

	&__svg {
		@extend %trans;
	}
}

.modal {
	@extend %trans;

	position: fixed;
	width: 100%;
	height: 100vh;
	z-index: 500;

	opacity: 0;
	pointer-events: none;

	background-color: rgba(0, 0, 0, 0.4);

	&--visible {
		opacity: 1;
		pointer-events: all;
	}

	&__content {
		@extend %trans;

		width: 100%;
		max-height: 100vh;
		max-width: 700px;
		padding: 50px 70px;

		overflow-y: auto;

		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%) scale(0.5);
		z-index: 1500;

		background-color: var(--color-bg);
		border-radius: 20px;

		opacity: 0;
		pointer-events: none;

		&--visible {
			opacity: 1;
			transform: translate(-50%, -50%) scale(1);
			pointer-events: all;
		}
	}

	&__title-2 {
		margin-bottom: 40px;
	}

	&__warning {
		font-size: 0.75rem;
		color: var(--color-placeholder);
	}

	&__form {
		display: flex;
		flex-direction: column;
		gap: 30px;
	}

	&__textarea {
		min-height: 200px;
		resize: none;
	}

	&__send {
		@extend %btn-main-solid;

		margin: 0 auto;
	}

	&__close {
		@extend %trans;

		position: absolute;
		right: 20px;
		top: 20px;

		path {
			fill: var(--color-btn-close);
		}

		&:hover {
			transform: scale(1.15);
		}
	}

	&__container {
		margin: 0 auto;
		max-width: 800px;
	}
}

.input,
.textarea,
.select,
.date {
	@extend %appear;
	@extend %box-appear;

	width: 100%;
	padding: 14px 20px;

	font: 1rem/1.6 $font-primary;

	border-radius: 10px;
	border: 1px solid var(--color-btn-bg);

	&:hover,
	&:focus {
		outline: 1px solid var(--color-btn-bg);
	}

	&::placeholder {
		font: 1rem/1.6 $font-primary;
		color: var(--color-placeholder);
	}
}

.select {
	appearance: none;

	color: var(--color-placeholder);

	background-color: var(--color-bg);

	&--selected {
		color: var(--color-text);
	}
}

.checkbox {
	display: none;

	&:checked + .checkbox-label {
		&::after {
			content: "";
			width: 18px;
			height: 14px;

			position: absolute;
			transform: translateY(-50%);
			left: 2px;
			top: 50%;

			background-color: var(--color-bg);
			mask-image: url("../img/icon/check-small.svg");
		}

		&::before {
			border-color: var(--color-btn-bg);
			background-color: var(--color-btn-bg);
		}
	}
}

.checkbox-label {
	display: block;
	padding-left: 32px;

	position: relative;

	font-size: 0.875rem;

	cursor: pointer;

	&::before {
		@extend %trans;

		content: "";
		width: 0.875rem;
		height: 0.875rem;

		position: absolute;
		left: 0;
		bottom: 6px;

		border-radius: 5px;
		border: 1px solid var(--color-text);
	}

	&:hover {
		&::before {
			border-color: var(--color-btn-bg);
		}
	}
}

.breadcrumbs {
	margin-top: 40px;

	&__list {
		display: flex;
		align-items: center;
		gap: 40px;

		overflow-x: auto;
	}

	&__item {
		position: relative;

		&:not(:last-child)::after {
			content: "";
			width: 9px;
			height: 13px;

			position: absolute;
			top: 50%;
			right: -25px;
			transform: translateY(-50%);

			background: url(../img/icon/breadcrumbs-arrow.svg);
		}
	}

	&__link {
		display: block;
		font-size: 22px;
		line-height: 1.2;
	}

	&__link[href] {
		@extend %trans;

		font-weight: 500;
		color: var(--color-title);

		&:hover {
			color: var(--color-title-accent);
		}
	}

	&__link-svg {
		min-width: 30px;

		path {
			@extend %trans;

			fill: var(--color-title);
		}

		&:hover {
			path {
				fill: var(--color-title-accent);
			}
		}
	}
}

.search {
	display: flex;
	justify-content: space-between;
	align-items: center;

	width: 100%;

	&__input {
		width: 100%;
		padding: 16px 32px;

		border: 2px solid var(--color-text-special);
		border-radius: 20px 0 0 20px;

		transition: border 0.5s ease;

		&::placeholder {
			color: var(--color-placeholder);
		}

		&:hover {
			border-color: var(--color-text-special--hover);
		}

		&:focus {
			outline-color: var(--color-text-special--hover);
		}
	}

	&__send {
		@extend %trans;

		display: block;
		height: 100%;
		width: 100%;
		max-width: 300px;
		padding: 18px 0;

		color: var(--color-bg);
		font-weight: 500;

		background-color: var(--color-text-special);
		border-radius: 0 20px 20px 0;

		&:hover,
		&:focus {
			background-color: var(--color-text-special--hover);
		}
	}

	&__send-svg {
		display: none;
	}
}

.category {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 20px;

	&__input {
		display: none;

		&:checked + .category__label {
			border-color: var(--color-text-special--hover);
			color: var(--color-text-special--hover);
			cursor: default;
		}
	}

	&__label {
		@extend %trans;

		padding: 10px 20px;

		border: 1px solid var(--color-text);
		border-radius: 30px;
		font-size: 0.875rem;

		cursor: pointer;

		&:hover {
			border-color: var(--color-text-special--hover);
			color: var(--color-text-special--hover);
		}
	}
}

/* MEDIA
**************************************/

@include media(1400px) {
	html {
		font-size: 22px;
	}

	.category {
		gap: 10px;
	}
}

@include xl {
	.modal__content {
		padding: 30px;
	}

	.modal__form {
		gap: 20px;
	}

	.modal__title-2 {
		margin-bottom: 30px;
	}
}

@include lg {
	:root {
		--margin-section: 40px;
		--margin-block: 40px;
		--margin-el: 20px;
	}

	.title-1 {
		line-height: 1.2;
	}

	.search__send {
		max-width: 180px;
		padding: 14px 0;

		border-radius: 0 30px 30px 0;
	}

	.search__input {
		padding: 12px 20px;

		border-radius: 30px 0 0 30px;
	}
}

@include media("900px") {
	html {
		font-size: 20px;
	}

	.checkbox-label::before {
		bottom: 5px;
	}
}

@include md {
	.modal__content {
		max-width: none;
		height: 100%;
		border-radius: 0;
	}
}

@include media("640px") {
	.breadcrumbs--overlay {
		margin-top: 20px;
	}

	.search__send {
		padding: 11px 0;
		max-width: 60px;
	}

	.search__send-text {
		display: none;
	}

	.search__send-svg {
		display: block;
		margin-left: 12px;

		path {
			fill: var(--color-bg);
		}
	}
}

@include sm {
	.title-1 {
		font-size: 44px;
	}

	.modal__title-2 {
		font-size: 1.5rem;
	}

	:root {
		--margin-section: 0;
		--margin-block: 30px;
		--margin-el: 20px;
	}

	.date,
	.input,
	.select,
	.textarea {
		padding: 10px 12px;
	}

	.modal__send {
		padding: 15px;
		max-width: none;
	}

	.breadcrumbs {
		margin-top: 20px;
	}

	.search__input {
		padding: 12px 8px 12px 16px;

		&::placeholder {
			font-size: 0.8rem;
			position: relative;
			bottom: 2px;
		}
	}
}

@media (max-height: 650px) {
	.modal__content {
		max-width: none;
		height: 100%;
		border-radius: 0;
	}
}
