:root {
	// COLORS LIGHTMODE
	--color-primary-rgb: 255, 255, 255;
	--color-primary: rgb(var(--color-primary-rgb));

	--color-secondary: #2f327d;
	--color-secondary-light-rgb: 85, 85, 109;
	--color-secondary-light: rgb(var(--color-secondary-light-rgb));
	--color-secondary-dark: #252641;

	--color-brand-rgb: 73, 187, 189;
	--color-brand: rgb(var(--color-brand-rgb));
	--color-brand-light: #00cbb8;

	--color-accent: #ffd600;

	--color-grey: #494949;

	--color-grad: linear-gradient(90deg, #136cb5, #49bbbd);

	// COLORS LIGHTMODE SEMANTIC
	--color-header-bg: var(--color-brand);
	--color-header-text: var(--color-primary);
	--color-header-text--hover: var(--color-accent);
	--color-header-logo: var(--color-primary);
	--color-header-btn--hover: var(--color-brand);
	--color-header-btn-line: rgba(var(--color-primary-rgb), 0.5);
	--color-header-menu-title: var(--color-secondary-dark);
	--color-header-menu-text: var(--color-secondary-light);
	--color-header-menu-border: rgba(var(--color-secondary-light-rgb), 0.3);
	--color-header-menu-bg: var(--color-primary);
	--color-header-submenu--hover: rgba(var(--color-brand-rgb), 0.12);

	--color-text: var(--color-secondary-light);
	--color-text-accent: var(--color-accent);
	--color-title: var(--color-secondary);
	--color-title-accent: var(--color-brand-light);

	--color-bg: var(--color-primary);

	--color-btn-bg: var(--color-brand);
	--color-btn-text: var(--color-brand);
	--color-btn-text--hover: var(--color-primary);

	--color-artical-text: var(--color-secondary-dark);

	--color-seller-box-bg: rgba(var(--color-primary-rgb), 0.9);
	--color-seller-box-title: var(--color-grey);
	--color-seller-box-text: var(--color-secondary-light);
	--color-seller-btn-bg: rgba(var(--color-primary-rgb), 0.2);
	--color-seller-btn-bg--hover: rgba(var(--color-primary-rgb), 0.3);
	--color-seller-play-text--hover: var(--color-accent);
	--color-seller-decor-shadow: rgba(var(--color-primary-rgb), 0.5);

	--color-placeholder: rgba(var(--color-secondary-light-rgb), 0.6);

	--color-footer-bg: var(--color-grey);

	// VAR
	--margin-block: 100px;
	--margin-el: 40px;
}

.darkmode {
	// COLORS DARKMODE
	--color-primary-rgb--darkmode: 38, 44, 44;
	--color-primary--darkmode: rgb(var(--color-primary-rgb--darkmode));

	--color-secondary--darkmode: #e8e9fa;
	--color-secondary-light-rgb--darkmode: 232, 232, 236;
	--color-secondary-light--darkmode: rgb(var(--color-secondary-light-rgb--darkmode));

	--color-brand-rgb--darkmode: 62, 170, 172;
	--color-brand--darkmode: rgb(var(--color-brand-rgb--darkmode));

	--color-accent--darkmode: #221fd2;

	--color-grey--darkmode: #151a1a;

	// COLORS DARKMODE SEMANTIC
	--color-header-bg: var(--color-brand--darkmode);
	--color-header-text: var(--color-primary--darkmode);
	--color-header-text--hover: var(--color-accent--darkmode);
	--color-header-logo: var(--color-primary--darkmode);
	--color-header-btn--hover: var(--color-brand--darkmode);
	--color-header-btn-line: rgba(var(--color-primary-rgb--darkmode), 0.5);
	--color-header-menu-title: var(--color-secondary-dark--darkmode);
	--color-header-menu-text: var(--color-secondary-light--darkmode);
	--color-header-menu-border: rgba(var(--color-secondary-light-rgb--darkmode), 0.3);
	--color-header-menu-bg: var(--color-primary--darkmode);

	--color-text: var(--color-secondary-light--darkmode);
	--color-text-accent: var(--color-accent--darkmode);
	--color-title: var(--color-secondary--darkmode);

	--color-bg: var(--color-primary--darkmode);

	--color-btn-bg: var(--color-brand--darkmode);
	--color-btn-text: var(--color-brand--darkmode);
	--color-btn-text--hover: var(--color-primary--darkmode);

	--color-artical-text: var(--color-secondary--darkmode);

	--color-seller-box-bg: rgba(var(--color-primary-rgb--darkmode), 0.9);
	--color-seller-box-title: var(--color-secondary--darkmode);
	--color-seller-box-text: var(--color-secondary-light--darkmode);
	--color-seller-btn-bg: rgba(var(--color-primary-rgb--darkmode), 0.16);
	--color-seller-btn-bg--hover: rgba(var(--color-primary-rgb--darkmode), 0.25);
	--color-seller-play-text--hover: var(--color-accent--darkmode);
	--color-seller-decor-shadow: rgba(var(--color-primary-rgb--darkmode), 0.5);

	--color-placeholder: rgba(var(--color-secondary-light-rgb--darkmode), 0.6);

	--color-footer-bg: var(--color-grey--darkmode);
}

html {
	font-size: 24px;
}

body {
	min-height: 100%;
	min-width: 300px;
	overflow-x: hidden;

	font: 1rem/1.6 $font-primary;
	color: var(--color-text);

	display: flex;
	flex-direction: column;

	background-color: var(--color-bg);
}

main {
	flex-grow: 1;
}

.container {
	max-width: 1530px;
	padding: 0 15px;
	margin: 0 auto;
}

.title-1 {
	margin-bottom: var(--margin-el);

	font: 2.5rem/1.3 $font-primary;
	font-weight: 600;

	@include appear(0.5s, 0.6s);

	&.hidden {
		opacity: 0;
		transform: translateY(100px);
	}
}

.title-2 {
	margin-bottom: var(--margin-el);

	font: 2rem/1.3 $font-primary;
	font-weight: 600;
	color: var(--color-title);

	strong {
		color: var(--color-title-accent);
	}
}

.title-3 {
	margin-bottom: var(--margin-el);

	font: 1.5rem/1.5 $font-primary;
	font-weight: 600;
}

.title-4 {
	margin-bottom: var(--margin-el);

	font: 1.25rem/1.6 $font-primary;
	font-weight: 500;
}

.title-5 {
	margin-bottom: var(--margin-el);

	font: 0.875rem/1.6 $font-primary;
	font-weight: 600;
}

.text {
	@include appear(0.5s, 0.8s);

	&.hidden {
		opacity: 0;
		transform: translateY(50px);
	}
}

.pinned {
	overflow: hidden;
}

/* MEDIA
**************************************/

@include media(1400px) {
	html {
		font-size: 22px;
	}
}

@include lg {
	:root {
		--margin-block: 40px;
		--margin-el: 20px;
	}

	.title-1 {
		line-height: 1.2;
	}
}

@include media(900px) {
	html {
		font-size: 20px;
	}
}

@include sm {
	.title-1 {
		font-size: 44px;
	}

	:root {
		--margin-block: 0px;
		--margin-el: 20px;
	}
}
