@mixin font-face($font-family, $url, $font-style, $weight) {
	@font-face {
		font-family: $font-family;
		src: url("#{$url}.woff2") format("woff2"), url("#{$url}.woff") format("woff");
		font-style: $font-style;
		font-weight: $weight;
		font-display: swap;
	}
}

@include font-face("GolosText", "#{$fonts-root}GolosText-Regular", normal, 400);
@include font-face("GolosText", "#{$fonts-root}GolosText-Medium", normal, 500);
@include font-face("GolosText", "#{$fonts-root}GolosText-SemiBold", normal, 600);
@include font-face("GolosText", "#{$fonts-root}GolosText-Bold", normal, 700);

@include font-face("NunitoSans", "#{$fonts-root}NunitoSans-Regular", normal, 400);
@include font-face("NunitoSans", "#{$fonts-root}NunitoSans-SemiBold", normal, 600);
@include font-face("NunitoSans", "#{$fonts-root}NunitoSans-Bold", normal, 700);