// FONTS

$fonts-root: "../fonts/";
$font-primary: "GolosText", sans-serif;
$font-secondary: "NunitoSans", sans-serif;

// MEDIA

$screen-sm: 479px;
$screen-md: 767px;
$screen-lg: 991px;
$screen-xl: 1199px;